body {
  margin: 0;
  font-family: Arial;
  background: #05070f;
  color: #00e5ff;
}

header {
  text-align: center;
  padding: 20px;
  font-size: 22px;
  text-shadow: 0 0 10px #00e5ff;
}

input {
  width: 90%;
  margin: 5px auto;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  width: 90%;
  margin: 5px auto;
  display: block;
  padding: 10px;
  background: #00e5ff;
  border: none;
  font-weight: bold;
}

.panel {
  background: #0b1220;
  margin: 10px;
  padding: 10px;
  border: 1px solid #00e5ff;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background: #0b1220;
  border: 1px solid #00e5ff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #00e5ff33;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
