body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #040d1a);
  color: #e6faff;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px 10px;
  border-bottom: 1px solid rgba(0, 229, 255, 0.2);
}

header h1 {
  margin: 0;
  font-size: 26px;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}

.creator-text {
  font-size: 12px;
  color: #7ddfff;
}

/* SEARCH */
#search {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #00e5ff33;
  background: #020b14;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* CARD */
.card {
  background: #06121f;
  border: 1px solid #00e5ff22;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #00e5ff;
}

/* IMAGE */
.card img {
  width: 100%;
  height: auto;
  max-height: 220px;
  object-fit: contain;
  background: black;
}

/* TEXT */
.card h3 {
  margin: 10px;
  color: #00e5ff;
}

.card p {
  margin: 0 10px 10px;
  font-size: 13px;
}

/* SAVE BUTTON */
.save-tool-btn {
  width: 85%;
  margin: 10px auto 15px;
  display: block;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #00e5ff;
  background: transparent;
  color: #00e5ff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.save-tool-btn:hover {
  background: #00e5ff;
  color: black;
  box-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
}
