body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #001018, #00060a);
  color: #00e5ff;
}

header {
  text-align: center;
  padding: 30px 10px;
  border-bottom: 1px solid #00e5ff33;
}

header h1 {
  margin: 0;
  font-size: 26px;
  text-shadow: 0 0 15px #00e5ff;
}

header p {
  font-size: 14px;
  color: #66f2ff;
}

#search {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  display: block;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #00e5ff;
  background: #06131a;
  color: white;
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: linear-gradient(145deg, #071722, #050b10);
  border: 1px solid #00e5ff33;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 0 10px #00e5ff10;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #00e5ff55;
  border-color: #00e5ff;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #00e5ff;
}

.card p {
  font-size: 12px;
  color: #a8f6ff;
}
